<div ng-controller="LogoutController" class="container">

    <div id="logoutbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-default" >
            <div class="panel-heading">
                <div class="panel-title">Sei sicuro di voler effettuare il logout ?</div>                
            </div>
            <div style="padding-top:10px" class="panel-body" >
               			
				<button ng-click="logout()" class="btn btn-md btn-success">Si, effettua Logout</button>
				<button ng-click="back_dashboard()" class="btn btn-md btn-danger">No, torna alla dashboard</button>

            </div>
        </div>
    </div>
</div>
