<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="creem" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="creem" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="creem" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="creem" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>SMEE</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" type="text/css" />  
    <link rel="stylesheet" href="bower_components/bootstrap-daterangepicker/daterangepicker-bs3.css" type="text/css">   
    <link rel="stylesheet" href="bower_components/bootstrap-tagsinput/src/bootstrap-tagsinput.css" type="text/css">  
    <link rel="stylesheet" href="bower_components/chosen/chosen.css" type="text/css">
	<link rel="stylesheet" href="bower_components/leaflet/dist/leaflet.css" type="text/css">
	<link rel="stylesheet" href="bower_components/leaflet.markercluster/dist/MarkerCluster.css" type="text/css">
	<link rel="stylesheet" href="bower_components/leaflet.markercluster/dist/MarkerCluster.Default.css" type="text/css">
	<link rel="stylesheet" href="bower_components/leaflet-awesome-markers/dist/leaflet.awesome-markers.css" type="text/css">
	<link rel="stylesheet" href="bower_components/Leaflet.label/dist/leaflet.label.css" type="text/css">
	<link rel="stylesheet" href="bower_components/fullcalendar/dist/fullcalendar.css"/>
	<link rel="stylesheet" href="bower_components/jquery-ui-month-picker/demo/MonthPicker.min.css" type="text/css" />	
	

	<link rel="stylesheet" href="bower_components/ng-table/dist/ng-table.css" type="text/css">    	
  
    <link rel="stylesheet" href="styles/css/font.css" type="text/css" />  
    <link rel="stylesheet" href="styles/css/app.css">  
    <link rel="stylesheet" href="styles/css/loading.css">
	<link rel="stylesheet" href="bower_components/adapt-strap/dist/adapt-strap.min.css"/>
	
  
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body ng-controller="MainController">


<div class="app" ng-class="{'app-header-fixed':app.settings.headerFixed, 'app-aside-fixed':app.settings.asideFixed, 'app-aside-folded':app.settings.asideFolded, 'app-aside-dock':app.settings.asideDock, 'container':app.settings.container}">

	<div ng-include=" 'views/header.html' " class="app-header navbar" style="min-height:0px;"></div>

	<div ng-include=" 'views/menu.html' " class="app-aside hidden-xs {{app.settings.asideColor}}"></div>


	<!--[if lt IE 7]>
	<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	<span id="loading" ng-show="isViewLoading">  </span>
	
	<div class="alert alert-danger" ng-hide="!userError">		
		<p><strong>Username o Password errati.</strong> Riprovare inserendo i dati corretti.</a></p>
	</div>
	
	<div ng-view ng-show="userLoggedIn || $location.path() === '/login'"></div>	
	
	<div class="alert alert-danger" ng-hide="userLoggedIn || $location.path() === '/login'">		
		<p><strong>Accesso non consentito.</strong> Per favore effettua il <a href="#/login/">login.</a></p>
	</div>
	
	

	<!-- footer -->
	<div class="app-footer wrapper b-t bg-black">
		<small class="text-muted">SMEE &copy; 2015</small>
	</div>
	<!-- / footer -->

</div>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/angular-animate/angular-animate.js"></script>
	<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
	<script src="bower_components/angular-resource/angular-resource.js"></script>
	<script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
	<script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
	<script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
	<script src="bower_components/angular-translate-storage-local/angular-translate-storage-local.js"></script>
	<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script src="bower_components/angular-ui-utils/ui-utils.js"></script>
	<script src="bower_components/ngstorage/ngStorage.js"></script>
	<script src="bower_components/moment/moment.js"></script>
	<script src="bower_components/moment/locale/it.js"></script>
	<script src="bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>  
	<script src="bower_components/ng-bs-daterangepicker/src/ng-bs-daterangepicker.js"></script>		
	<script src="bower_components/chosen/chosen.jquery.min.js"></script>
	<script src="bower_components/highcharts/highcharts.js"></script>
	<script src="bower_components/highcharts/modules/exporting.js"></script>
	<script src="bower_components/highcharts/highcharts-more.js"></script>
	<script src="bower_components/highcharts/modules/solid-gauge.js"></script>
	<script src="bower_components/angular-file-upload/dist/angular-file-upload.min.js"></script>
	<script src="bower_components/angular-simple-logger/dist/index.js"></script>		
	<script src="bower_components/leaflet/dist/leaflet.js"></script>	
	<script src="bower_components/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
	<script src="bower_components/angular-leaflet-directive/dist/angular-leaflet-directive.js"></script>	
	<script src="bower_components/leaflet-awesome-markers/dist/leaflet.awesome-markers.js"></script>		
	<script src="bower_components/Leaflet.label/dist/leaflet.label.js"></script>	
	<script src="bower_components/ng-table/dist/ng-table.js"></script>	
	<script src="bower_components/fullcalendar/dist/fullcalendar.js"></script>
 	<script src="bower_components/fullcalendar/dist/gcal.js"></script>
	<script src="bower_components/angular-ui-calendar/src/calendar.js"></script>	
	<script src="bower_components/adapt-strap/dist/adapt-strap.min.js"></script>
	<script src="bower_components/adapt-strap/dist/adapt-strap.tpl.min.js"></script>
	<script src="bower_components/bootstrap-ui-datetime-picker/dist/datetime-picker.min.js"></script>
	
	
	<!-- Bower libs -->
  
  
	<script src="app.js"></script>
	
	
	<!-- Configurations -->
	<script src="app.config.js"></script>	
	<script src="views/dashboard/Dashboard.config.js"></script>
	<script src="views/consumptions/Consumptions.config.js"></script>
	<script src="views/diagnosis/Diagnosis.config.js"></script>
	<script src="views/budget/Budget.config.js"></script>
	<script src="views/performance/Performance.config.js"></script>
	<script src="views/dss/Dss.config.js"></script>	
	<script src="views/input/Input.config.js"></script>
	<script src="views/login/Login.config.js"></script>
	<script src="views/logout/Logout.config.js"></script>	
	<script src="views/input/Input.config.js"></script>
	<!-- Configurations -->
  
  
	<!-- Controllers -->    
	<script src="controllers/MainController.js"></script>
	<script src="views/input/InputController.js"></script>
	<script src="views/login/LoginController.js"></script>
	<script src="views/logout/LogoutController.js"></script>
	<script src="views/input/ImportController.js"></script>
	<!-- Controllers -->
	
	
	<!-- Directives -->	
    <script src="directives/ui-jq.js"></script>    
    <script src="directives/ui-nav.js"></script>	
    <script src="directives/ui-toggleclass.js"></script>
	<script src="directives/shop-selection.js"></script>
	<script src="directives/settings-user-by-shop.js"></script>
	
	<!-- Directives -->
	
	<!-- Services -->
	<script src="services/ui-load.js"></script>
	<script src="services/AppSettings.js"></script>
	<script src="services/LoadingFactory.js"></script>
	<script src="services/AnagraficaFactory.js"></script>
	<script src="services/Base64.js"></script>
	<script src="services/LoginService.js"></script>
	<!-- Services -->

</body>
</html>