<div class="panel panel-default bg-auto">

    <br>
    <div class="panel-body">
        <form class="form-horizontal" role="form" id="form-epi"  name="form_epi" ng-submit="componentiTransparentiAdd()">
			
			<img src="styles/images/window.png " style="width: 100px;"><legend class="righter sublegendmenu">SUPERFICI TRASPARENTI</legend>
            <div class="col-md-12">
                <div class="row clearfix">
                    <div class="col-md-4">
                        <label for="note">Note</label>
                        <input type="text"
                               class="form-control"
                               ng-model="componentiTransparentiModel.note"
                               id="note"
                               placeholder="Inserisci nota ..." required>
                    </div>
                    <div class="col-md-4">
                        <label>Tipo Vetro</label>
                        <select class="form-control"
                                ng-model="componentiTransparentiModel.tipovetro"
                                ng-options="option for option in componentiTransparentiOptions.tipovetro" required>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label >Materiale Telaio</label>
                        <select class="form-control"
                                ng-model="componentiTransparentiModel.tipotelaio"
                                ng-options="option for option in componentiTransparentiOptions.tipotelaio" required>
                        </select>
                    </div>
                </div>
            </div>


            <div class="col-md-12">
                <div class="row clearfix">
                    <div class="col-md-4">
                        <label>Gas Intercapedine</label>
                        <select class="form-control"
                                ng-model="componentiTransparentiModel.tipogas"
                                ng-options="option for option in componentiTransparentiOptions.tipogas" required></select>

                    </div>
                    <div class="col-md-4">
                        <label>Esposizione</label>
                        <select class="form-control"
                                ng-model="componentiTransparentiModel.esposizioneinfissi"
                                ng-options="option for option in componentiTransparentiOptions.esposizioneinfissi" required></select>

                    </div>
                    <div class="col-md-4" ng-class="{'has-error': form_epi.supinfissosi.$invalid}">
                        <label for="supinfissosi">Superficie S<span class="font-thin">s</span> [m&sup2;]</label>
                        <input type="number"
                               ng-model="componentiTransparentiModel.supinfissosi"
                               min="0"
                               step="any"
                               class="form-control"
                               id="supinfissosi"
							   ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" name="supinfissosi"
                               placeholder="Superficie complessiva...." required>
                    </div>
                </div>
            </div>




            <div class="col-md-12">
                <div class="row clearfix">
                    <div class="col-md-4" ng-class="{'has-error': form_epi.trasmittanzausi.$invalid}">
                        <label for="trasmittanzausi">Trasmittanza U<span class="font-thin">s</span> [W/m&sup2;K]</label>
                        <input type="number"
                               ng-model="componentiTransparentiModel.trasmittanzausi"
                               min="0"
                               step="any"
                               class="form-control"
                               id="trasmittanzausi"
							   ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" name="trasmittanzausi"
                               placeholder="U serramento..." required>
                    </div>
                    <div class="col-md-8">
                        <label>La superficie S<span class="font-thin">s</span> è significativa rispetto agli apporti solari?</label>
                        <select class="form-control"
                                ng-model="componentiTransparentiModel.flagsi"
                                ng-options="option for option in componentiTransparentiOptions.flagsi" required></select>

                    </div>
                </div>
            </div>




            <div class="row clearfix"></div>
            <br><br>

            <div class="col-md-4 col-md-offset-4 column">
                <center><button type="submit" class="span5 btn btn-large btn-primary" style="width: 100%;" ng-disabled="form_epi.$invalid">Aggiungi Elemento</button></center>
            </div>

        </form>
    </div>
    <hr/>
<div class="panel-body">
    <table class="table">
    <thead>
    <tr>
        <th>Note</th>
        <th>Tipo Vetro</th>
        <th>Materiale Telaio</th>
        <th>Gas</th>
        <th>ESPOSIZIONE</th>
        <th>Ss [m²]</th>
        <th>Us [W/m²K]</th>
        <th>Ss ?</th>
        <th>Elimina</th>
    </tr>
    </thead>
    <tbody>
        <tr ng-repeat="component in moduloepi.componentitrasparenti">
            <th>{{component.note}}</th>
            <th>{{component.tipovetro}}</th>
            <th>{{component.tipotelaio}}</th>
            <th>{{component.tipogas}}</th>
            <th>{{component.esposizioneinfissi}}</th>
            <th>{{component.supinfissosi}}</th>
            <th>{{component.trasmittanzausi}}</th>
            <th>{{component.flagsi}}</th>
            <th><button ng-click="moduloepi.componentitrasparenti.splice($index, 1)">Elimina</button></th>
        </tr>
    </tbody>
</table>
    <div class="col-md-12 column">        
		<center><button ng-click="onSubmit()" type="submit" class="span5 btn btn-md btn-success">Salva modifiche</button></center>
    </div>
</div>
</div>