<div class="panel panel-default">    

			<div class="panel-heading">
			  <h4 class="font-thin m-t-none m-b-none text-primary-lt">Seleziona Utente</h4>              
            </div>
            <div class="panel-body"> 
				<div class="form-group">					
					<h4><i class="glyphicon glyphicon-home"> </i>  Negozio</h4>
					
					<div shop-selection></div>
                </div>	
														 
			</div>
			<footer class="panel-footer text-center bg-light lter">
              <button type="submit" ng-click="setBuilding()" class="btn btn-md btn-primary">Seleziona</button>
            </footer>

</div>