 <div class="list-group" style="max-height: 340px; overflow: auto;"  >
  <h4 ng-show="alerts.length == 0"><span class="label label-success label-rounded">Nessun alert rilevato</span></h4>
  <h4 ng-show="alerts.length > 0"><span class="label label-danger">{{length_alert}} alert rilevati</span></h4>  
  <a data-toggle="tooltip" title="{{alert.tipoAllert}}" class="list-group-item" ng-repeat="alert in alerts" ><small><b>{{alert.periodoRiferimento}}</b></small> <br> {{alert.descrizione}} </a> 
</div>