<div class="panel panel-default">     
            <div class="panel-body">                       
						<div style="background:url(styles/images/greenbuilding.jpg) center center; background-size:cover">
					  <div class="wrapper-xs bg-white-opacity">
						<div class="row m-t">
						  <div class="col-sm-6">
							<a href="" class="thumb-lg pull-left m-r">
							  <img src="styles/images/building.png" class="img-circle">
							</a>
							<div ng-show="impianti.denominazione" class="clear m-b">
							  <div class="m-b m-t-sm">
								<span class="h3 text-black">{{ impianti.denominazione}}</span>								
								<div class="h5">{{impianti.indirizzo}}, {{impianti.nome}} ({{ impianti.siglaprov}})</div>
							  </div>
							  <p ng-show="impianti.potenzaInstallata" class="m-b">
								<span class="h5 text-black">Potenza Installata: <strong>{{ impianti.potenzaInstallata}} kW</strong></span>														
							  </p>

							</div>
						  </div>
						  <div class="col-sm-6">
						  <br>
						  <div class="row">
							<div ng-show="impianti.visibleIlluminazioneInterna" class="col-sm-4 col-xs-4">
							  
								<span class="h4 block font-bold">{{impianti.numCompIlluminazioneInterna}}</span>
								<small>{{impianti.illuminazioneInterna}}</small>
							  
							 </div>
							 <div ng-show="impianti.visibleIlluminazioneEsterna" class="col-sm-4 col-xs-4">
							  
								<span class="h4 block font-bold">{{impianti.numCompIlluminazioneEsterna}}</span>
								<small>{{impianti.illuminazioneEsterna}}</small>
							  
							  </div>
							</div>
							
						  <div class="row">
							<br>
							<div ng-show="impianti.visibleRiscaldamento" class="col-sm-4 col-xs-4">
							  
								<span class="h4 block font-bold">{{impianti.numCompRiscaldamento}}</span>
								<small>{{impianti.riscaldamento}}</small>
							  
							 </div>
							 <div ng-show="impianti.visibleRaffrescamento" class="col-sm-4 col-xs-4">
							 
								<span class="h4 block font-bold">{{impianti.numCompRaffrescamento}}</span>
								<small>{{impianti.raffrescamento}}</small>
							  
							 </div>
							 
							</div>
							
							
						  </div>
						</div>
					  </div>
					</div>
            </div>			          
</div>

