<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="font-thin m-t-none m-b-none text-primary-lt">Emissioni CO<sub>2</sub></h4>
    </div>
    <div class="panel-body">
	
		<div class="row">
				<div class="col-sm-8 col-xs-8 col-md-8" align="left">
					<span class="text-black h2">{{ building.codice }}</span>										
				</div>			
				<div class="col-sm-4 col-xs-4 col-md-4" align="left">										
					<img src="styles/images/co2.png">
				</div>
			</div>
		<br>
        <div class="row row-centered" align="center">
            <div class="col-sm-2 col-xs-2 col-md-2">
                <span class="text-black h4"></span>
            </div>
            <div class="col-sm-5 col-xs-5 col-md-5">
                <span class="text-black h4">Prodotti</span>
            </div>
            <div class="col-sm-5 col-xs-5 col-md-5">
                <span class="text-black h4">Previsti</span>
            </div>
        </div>
		<br>
		<div class="row" align="center">
            <div class="col-sm-2 col-xs-2 col-md-2">
                <span class="text-black h4">Giorno</span>
            </div>
            <div class="col-sm-5 col-xs-5 col-md-5">
                <span class="text-info h3"> {{ coalData[0].tillToday | number:0 }} Kg</span>
            </div>
            <div class="col-sm-5 col-xs-5 col-md-5">
                <span class="text-info h3">{{ coalData[0].today | number:0 }} Kg</span>
            </div>
        </div><br>
		
        <div class="row" align="center">
			<div class="col-sm-2 col-xs-2 col-md-2">
                <span class="text-black h4">Mese</span>
            </div>
            <div class="col-sm-5 col-xs-5 col-md-5">
                <span class="text-info h3">{{ coalData[0].tillMonth/1000.0 | number:0 }} t</span>
            </div>
            <div class="col-sm-5 col-xs-5 col-md-5">
                <span class="text-info h3"> {{ coalData[0].month/1000.0 | number:0 }} t</span>
            </div>
        </div><br>
		
		<div class="row" align="center">
			<div class="col-sm-2 col-xs-2 col-md-2">
                <span class="text-black h4">Anno</span>
            </div>
            <div class="col-sm-5 col-xs-5 col-md-5">
                <span class="text-info h3">{{ coalData[0].tillYear/1000.0 | number:0 }} t</span>
            </div>
            <div class="col-sm-5 col-xs-5 col-md-5">
                <span class="text-info h3">{{ coalData[0].year/1000.0 | number:0 }} t</span>
            </div>
        </div>
    </div>
</div>


