<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Input</h1>
</div>

		<div class="wrapper">
				<div class="column col-md-12">		
					<div generic-form></div>
				</div>
		</div>

<br><br>	
		
	   


  
	
	
		
    
							
		
		
	


